RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.*)\.(thumb) thumb.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) /engine.php

SetEnv TZ America/Sao_Paulo